{% extends "base.html" %}
{% block title %}{{ title|safe }}{% endblock %}
{% block header_scripts %}
{% endblock %}
{% block footer_scripts %}
{% endblock %}
{% block header %}{{ header|safe }}{% endblock %}
{% block body %}
    {{ super() }}
    <div id="dataTable"></div>
    <p>
        <button name="dump">
          Submit
        </button>
    </p>
    <script>
          $("#dataTable").handsontable({
              colHeaders: ['Name', 'Value'],
              minSpareRows: 1,
              columns: [
                {data: 'name'},
                {data: 'value', type: 'numeric'}
              ]
          });

        $('body').on('click', 'button[name=dump]', function () {
           $("#dataTable").handsontable('getData');
        });
    </script>
{% endblock %}