{% extends "base.html" %}
{% block title %}{{ title|safe }}{% endblock %}
{% block header_scripts %}
{% endblock %}
{% block footer_scripts %}
{% endblock %}
{% block header %}{{ header|safe }}{% endblock %}
{% block body %}
    {{ super() }}
        {% if body_message %}{{ body_message|safe }}{% endif %}
    <form name="input" action="/generate/pie" method="post">
        Enter data in the format of "name, value" with a new entry on each row.<br /><br /><form>
        Chart title (optional):&nbsp;<input type="text" name="title"><br /><br />
        <textarea name="data" id="data" rows="10" cols="80">Example Entry,15
Another One,10</textarea>
<br />
        <input type="submit" value="Submit">
    </form>
    <!--
    <div id="dataTable"></div>
    <p>
        <button id="target">
          Submit
        </button>
    </p>
    <script>
          $("#dataTable").handsontable({
              colHeaders: ['Name', 'Value'],
              minSpareRows: 1,
              columns: [
                {data: 'name'},
                {data: 'value', type: 'numeric'}
              ]
          });

        $( "#target" ).click(function() {
           console.log($("#dataTable").handsontable('getData'));
        });
    </script>
    -->
{% endblock %}