{% extends "base.html" %}
{% block title %}{{ title|safe }}{% endblock %}
{% block header_scripts %}
{% endblock %}
{% block footer_scripts %}
{% endblock %}
{% block header %}{{ header|safe }}{% endblock %}
{% block body %}
    {{ super() }}
    <div id="dataTable"></div>
    <p>
        <button name="dump" data-dump="#dataTable" title="Prints current data source to Firebug/Chrome Dev Tools">
          Dump data to console
        </button>
    </p>
    <script>
      var initial = [];
      $("#dataTable").handsontable({
          data: initial,
          minSpareRows: 1,
          contextMenu: false,
          colHeaders: ['Name', 'Value'],
          columns: [
            {data: 'name'},
            {data: 'value', type: 'numeric'}
          ]
      });
      $(function() {
          function bindDumpButton() {
            $('body').on('click', 'button[name=dump]', function () {
              var dump = $(this).data('dump');
              var $container = $(dump);
              console.log('data of ' + dump, $container.handsontable('getData'));
            });
          }
      });
    </script>
{% endblock %}